<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>snake game</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='media/favicon.ico') }}" type="image/x-icon">
</head>

<body>
    <main class="main h-screen w-full flex flex-col justify-center items-center relative">
        <!-- get name -->
        <div class="name-container h-screen w-full flex flex-col justify-center items-center absolute z-10" style="display: flex;">
            <div class="bg-green-500 p-10 rounded-3xl">
                <form id="form">
                    <div class="flex flex-col justify-center items-center">
                        <label for="name" class="text-2xl ">Enter your name</label>
                        <input type="text" id="name" class="m-2 h-10 w-60 rounded-lg ps-2 outline-none text-2xl" autofocus required>
                        <button id="okey-button" class="hover:bg-green-700 hover:text-white rounded-2xl px-4 py-2 text-2xl mt-5 bg-white">Okey</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- leaderboard -->
         <div style="display: none;" class="leaderboard fixed h-screen z-10 w-full flex flex-col justify-center items-center">
            <div class="main-leaderboad-continer bg-green-200 p-2 h-screen rounded-2xl py-5 overflow-y-scroll mt-5 mb-2 scroll-smooth">
                <h1 class="text-2xl font-bold text-center mb-5">🏆 Leaderboard 🏆</h1>
                <ul class="flex justify-between min-w-96 px-2 py-2 my-2">
                    <li >Rank</li>
                    <li >Name</li>
                    <li >Score</li>
                </ul>
                <div class="leaderboard-container">
                    <!-- show dynamic user data -->

                </div>
            </div>
            <button class="close-leaderboard text-5xl mb-4 shadow-2xl active:text-4xl cursor-pointer">❎</button>
         </div>
        <!-- show leaderbord button -->
        <div class="leaderboard-button mb-3 cursor-pointer flex flex-col justify-center items-center">
            <h3 class="text-4xl">🏆</h3>
            <p class="text-xs">view leaderboard</p>
        </div>
        <!-- show name -->
        <h1 class="text-2xl font-bold text-green-500">👋Hi <span id="user-name"></span>!</h1>
        <!-- scores -->
        <div class="flex justify-between w-[350px] -z-10" >
            <h1 class="score text-2xl text-green-500 ml-2">Score: 0</h1>
            <h1 class="text-2xl text-green-500 mr-2">High Score: <span class="high-score"></span></h1>
        </div>
        <div class="z-[-10] container w-[350px] h-[450px] relative rounded-2xl border border-green-500 shadow-2xl">
            <!-- snake -->
            <section class="snkae-container">
                <div class="snake head">🔴</div>
                <div class="snake">🟢</div>
                <div class="snake">🟢</div>
                <div class="snake">🟢</div>
                <div class="snake">🟢</div>
            </section>

           <!-- food -->
           <section>
                <div class="food"></div>
           </section>

           <!-- game-over -->
           <div class="game-over w-full h-full absolute flex justify-center items-center flex-col" style="display: none;">
                <h1 class="text-3xl text-green-600 font-bold">Game Over</h1>
                <p id="playAgain" class="mb-4 text-center cursor-pointer">
                    play again <img src="{{ url_for('static', filename='media/refresh.png') }}" class="w-5 cursor-pointer inline hover:scale-110" alt="">
                </p>
           </div>

           <!-- audio -->
           <section>
                <audio src="{{ url_for('static', filename='media/background_music.mp3') }}" id="bg-sound" loop></audio>
                <audio src="{{ url_for('static', filename='media/eat_food.mp3') }}" id="eat-sound"></audio>
                <audio src="{{ url_for('static', filename='media/turning sound.mp3') }}" id="turn-sound"></audio>
                <audio src="{{ url_for('static', filename='media/game_over.mp3') }}" id="over-sound"></audio>
           </section>

        </div> 
        <!-- start button -->
        <button id="startGame" class="bg-green-500 hover:bg-green-600 outline-none rounded-lg p-3 mt-3 text-white font-bold shadow-2xl">Start game</button>   
        
        <div style="display: block;" class="guide-container">
            <p class="guidence text-center"></p>
            <p class="text-center">Control Snake using keybord arrow key.</p>
        </div>
        
        <!-- arrow buttons -->
        <div class="arrow-buttons flex flex-col w-36 h-20 mt-2" style="display: none;">
            <button onclick="moveUp()" class="outline-none hover:bg-green-600 text-white bg-green-500 rounded-2xl text-4xl self-center up-button"><i class='bx bx-up-arrow-alt' ></i></button>
            <div class="flex justify-between">
                    <button onclick="moveLeft()" class="outline-none hover:bg-green-600 text-white bg-green-500 rounded-2xl text-4xl self-start left-button"><i class='bx bx-left-arrow-alt' ></i></button>
                    <button onclick="moveRight()" class="outline-none hover:bg-green-600 text-white bg-green-500 rounded-2xl text-4xl self-end righit-button"><i class='bx bx-right-arrow-alt' ></i></button>
            </div>
            <button onclick="moveDown()" class="outline-none hover:bg-green-600 text-white bg-green-500 rounded-2xl text-4xl self-center down-button"><i class='bx bx-down-arrow-alt' ></i></button>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>